<!-- header.component -->

<!-- header -->
<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <a class="header__a a" routerLink="/home">
                <img class="header__img img" src="assets/img/angular_logo.svg" alt="logo">
                <h1 class="header__h1 h1">{{ title }}</h1>
            </a>
        </div>
        <div class="header__social-icons">
            <ul class="social-icons__ul ul">
                <li class="social-icons__li li"><a class="social-icons__a a" href="https://www.behance.net/ignacioerviti"><i class="fa-brands fa-behance social-icons__i i"></i></a></li>
                <li class="social-icons__li li"><a class="social-icons__a a" href="https://twitter.com/ignacio_erviti"><i class="fa-brands fa-x-twitter social-icons__i i"></i></a></li>
                <li class="social-icons__li li"><a class="social-icons__a a" href="https://github.com/erviti88"><i class="fa-brands fa-github social-icons__i i"></i></a></li>
            </ul>
        </div>
    </div>
</header>
<!-- header -->

<!-- header.component -->
