/* header */

.header {
    height: var(--header-height);
    background-color: var(--main-color);
    display: flex;
    flex-direction: column-reverse;

    &__container {
        width: var(--container-width);
        margin: 0 auto;
        padding: var(--container-padding);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .user-nav {
            &__ul {
                display: flex;
                gap: 2em;
            }
        
            &__a {
                color: var(--white-color);
                font-weight: bolder;
            }
        }
    }

    &__a {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    &__img {
        height: 2em;
    }

    &__h1 {
        color: var(--white-color);
        margin: 0;
    }

    .social-icons {
        &__ul {
            display: flex;
            gap: 1em;
        }

        &__a {
            font-size: 1.5em;
            color: var(--white-color);
        }

        &__i {
            color: var(--main-color-light);

            &:hover {
                color: var(--white-color);
            }
        }
    }
}

/* header.component */