<!-- mostrar.component -->

<!-- main -->
<main class="main">
    <div class="main__container">
        <section class="section">
            <h2>Lista de recetas</h2>
            <p *ngIf="listaRecetas === null || listaRecetas.length === 0">{{ listaVacia }}</p>
            <div class="container__grid">
                <article *ngFor="let receta of listaRecetas">
                    <div class="image-container">
                        <img [src]="receta.imagen" alt="">
                        <div class="overlay">
                            <div class="text">
                                <h4>{{ receta.nombre }}</h4>
                                <p>Calorías/Ración: {{ receta.calorias }}</p>
                                <p>Dificultad: {{ receta.dificultad.dificultad }}</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</main>
<!-- main -->

<!-- mostrar.component -->
