/* footer.component */

.footer {
    height: var(--footer-height);
    background-color: var(--main-color);

    &__container {
        width: var(--container-width);
        margin: 0 auto;
        padding: var(--container-padding);
    }

    &__p {
        color: var(--main-color-light);
    }
}

/* footer.component */