/* navbar.component */

.nav {
    height: var(--nav-height);
    background-color: var(--main-color-dark);

    &__container {
        width: var(--container-width);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: var(--container-padding);

        .main-nav, .user-nav {
            &__ul {
                display: flex;
                gap: 2em;
            }
        
            &__a {
                color: var(--white-color);
                font-weight: bolder;
            }
        }
    }
}

/* navbar.component */