/* navbar.component */

.nav {
    height: var(--navHeight);
    background-color: var(--mainColorDark);

    &__container {
        width: var(--containerWidth);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: var(--containerPadding);

        .main-nav, .user-nav {

            &__ul {
                display: flex;
                gap: 2em;
            }
        
            &__a {
                color: var(--whiteColor);
                font-weight: bolder;
            }
        }
    }
}

/* navbar.component */