<!-- insertar.component -->

<!-- main -->
<main class="main">
    <div class="main__container">
        <section class="section">
            <h2>Añade una receta</h2>
            <!-- form -->
            <form (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="row__column">
                        <div class="form-group">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input [(ngModel)]="nuevaReceta.nombre" name="nombre" type="text" class="form-control" id="nombre" placeholder="Introduzca un nombre">
                        </div>
                    </div>
                    <div class="row__column">
                        <div class="form-group">
                            <label for="calorias" class="form-label">Calorías/Ración:</label> 
                            <input [(ngModel)]="nuevaReceta.calorias" name="calorias" type="number" class="form-control" id="calorias" required min="0">
                        </div>
                    </div>
                    <div class="row__column">
                        <div class="form-group">
                            <label for="dificultad" class="form-label">Dificultad:</label>
                            <select [(ngModel)]="nuevaReceta.dificultad.dificultad" class="form-select" id="dificultad" name="dificultad" required>
                                <option *ngFor="let dificultad of listaDificultades, let i = index">{{ dificultad.dificultad }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row__column">
                        <div class="form-group">
                            <label for="btn" class="form-label">Acción:</label>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                  </div>
            </form>
            <!-- form -->
        </section>
        <section class="section">
            <h2>Tabla de recetas</h2>
            <!-- table -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Calorías/Ración</th>
                        <th scope="col">Dificultad</th>
                        <th scope="col">Acciones</th>
                      </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let receta of listaRecetas; let i = index">
                        <th scope="row">{{ receta.id }}</th>
                        <td>{{ receta.nombre }}</td>
                        <td>{{ receta.calorias}} cal.</td>
                        <td>{{ receta.dificultad.dificultad }}</td>
                        <td>
                            <a routerLink="/editar/{{ receta.id }}"><i class="fa-solid fa-pen-to-square"></i></a> / 
                            <a (click)="borrarReceta(receta.id)"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="listaRecetas === null || listaRecetas.length === 0">{{ listaVacia }}</p>
            <!-- table -->
        </section>
    </div>
</main>
<!-- main -->

<!-- insertar.component -->
